/*                  GENERALES                 */

:root {
    --primary: #3300ff91;
    --high-priority: rgb(239, 65, 65);
    --middle-priority: rgb(246, 178, 52);
    --low-priority: rgb(75, 240, 75);
    --cancel: rgb(200, 120, 120);
    --add: rgb(54, 188, 232);
    --black: #313154;
    --white: #EEE;
    --grey: #888;

    --shadow: 9px 12px 16px -16px rgba(0,0,0,0.62);
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    accent-color: var(--primary);
    *letter-spacing: -0.5px;
    background-color: #d05bff;
    background-image: linear-gradient(180deg, #d05bff 0%, #80D0C7 100%);
}

h2 {
    font-family: 'Parisienne', cursive;
    font-size: 2.5rem;
}

svg {
    width: 2em;
    height: 2em;
    fill: var(--black);
}
/*              NAV                 */

header {
    height: 3.125rem;
    width: 100%;
    display: flex;
    background-color: transparent;
    -webkit-box-shadow: 9px 12px 16px -16px rgba(0,0,0,0.62);
    -moz-box-shadow: 9px 12px 16px -16px rgba(0,0,0,0.62);
    box-shadow: 9px 12px 16px -16px rgba(0,0,0,0.62);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    margin: 1em;
}

/*                 INITIAL MESSAGE                 */

.init-container { /*ok*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.init-container h3 { /*ok*/
    position: relative;
    top: 30px;
    color: var(--white);
    font-size: 1.825rem;
    font-style: italic;
    letter-spacing: -0.7px;
}
.init-gif {
    width: 300px;
    height: 300px;
}

/*     MAIN BUTTONS    */

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1em;
}

.plus {
    cursor: pointer;
    width: 2em;
    height: 2em;
    transition: transform .2s ease-out;
}
.plus {
    filter: grayscale(1);
}


.plus:hover { /*ok*/
    box-shadow: var(--shadow);
    transform: scale(1.2);
    border-radius: 50%;
}

/*                    FORM                 */

.form-section {
    display: none;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 0.25em solid var(--white);
    padding-top: .5em;
    width: auto;
    min-width: 290px;
    max-height: 400px;
    background-color: rgba(255, 255, 255, 0.326);
    text-align: center;
    padding: 1.225em;
    margin-top: .5em;
}
/*nice to have: animation when form appears*/

.form-section h2 {
    color: var(--black);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
}

.form-section input[type="text"] {
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
}

form {
    display: flex;
    padding: 1em;
}

form,
h2 {
    text-align: left;
    flex-direction: column;
    color: var(--black);
    font-weight: 600;
}

label, p {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.7em;

}

.priority-label {
    padding: 0;
    padding-bottom: .2em;
    margin: 0;
}

.priority-container label {
    font-weight: 400;
}

input, select, textarea {
    justify-content: center;
    outline: none;
    border: none;
    margin-bottom: 1em;
    padding: 0.35rem 1rem;
    border-radius: 5px;
}

.priority-input {
    margin: .5em;
    align-self: center;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

button {
    margin-top: .925em; /*refactor*/
    margin-left: 0.725em; /*refactor*/
    margin-bottom: .925em;
    padding: 0.725em;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: var(--black);
    transition: 0.2s ease-out;
}

.close {
    position: relative;
    right: -250px;
    top: -70px;
    cursor: pointer;
}

.cancel-btn {
    background-color: var(--cancel);
}

.add-btn {
    background-color: var(--add);
}

/*               TASKS LIST           */

.tasks-container {  
    display: none;
    flex-direction: column;
    margin: 20px;
    width: 70%;
    justify-content: flex-start;
    align-items: center;

}

.tasks-container h3 {
    background-color: blueviolet;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 35px;
    margin: 0;
    margin-bottom: .2em;
}

.tasks-list {
    margin: 0;
    list-style: none;
    font-size: 13px;
}

/*       TASK CARD        */

.tasks-list li {
    background: #eee;
    padding: 5px;
    border-bottom: 0.5px solid gray;
    margin-left: -40px;
    display: flex;
    *flex-direction: column;
}

.list-item {
    display: flex;
    justify-content: space-between;
}  

div li:nth-child(odd) {
    background: #f9f9f9;
}

div li:hover {
    background: #ddd;
}

.taskTitle {
    padding: 10px;
}

.taskDescription {
    display: flex;
    align-items: center;
}

.selectedIcon {
    display: flex;
    align-self: center;
    padding-left: 10px;
    width: 40px;
    height: 40px;
}

/* PRIORITY COLORS */

.priority-container {
    grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.baja {
    border-left: 1rem solid var(--low-priority) !important;
}

.media {
    border-left: 1rem solid var(--middle-priority) !important;
}

.alta {
    border-left: 1rem solid var(--high-priority) !important;
}

.task-btns-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*    TASK STATE     */

/*finished*/
.list-item.done .list-item.taskDescription .list-item.taskTitle {
    text-decoration: line-through;
    color: var(--grey);
}

.todo-item.done .task-content input {
	text-decoration: line-through;
	color: var(--grey);
}

/*to delete*/
.delete {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: transform .2s ease-out;
}

.delete:hover {
    transform: scale(1.1);
}

/*SHOW AND HIDE CLASSES*/
.hidden {
    display: none;
}

.active {
    display: flex;
}

.input-content {
    display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}