/*                  GENERALES                 */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
}

svg {
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/*              NAV                 */

header {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #3300ff91;
    -webkit-box-shadow: 9px 12px 16px -16px rgba(0,0,0,0.62);
    -moz-box-shadow: 9px 12px 16px -16px rgba(0,0,0,0.62);
    box-shadow: 9px 12px 16px -16px rgba(0,0,0,0.62);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    margin: 1em;
}

/*                 BODY                 */

.no-tasks-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-tasks-message-container h3 {
    position: relative;
    top: 50px;
    color:rgba(43, 43, 43, 0.915)
}

.kitten {
    cursor: default;
    width: 300px;
    height: 300px;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1em 1em;
}

.plus {
    transform: scale(1.1);
    transition: transform .2s ease-out;
}

.plus:hover { /*cambiar despues por algo más lindo*/
    box-shadow: 2px 3px 5px 1px rgba(19, 19, 19, 0.325);
    transform: scale(1.3);
    border-radius:50%;
}

/*                    FORM                 */

.form-container {
    display: none;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(139, 139, 139, 0.767);
    width: auto;
    min-width: 300px;
    background-color: rgb(225, 225, 225);
    text-align: center;
}
/*nice to have: animation when form appears*/

.form-container h2 {
    color: rgb(56, 56, 56);
}

form {
    display: flex;
    width: auto;
    margin-bottom: 1em;
}

form, 
h2 {
    text-align: center;
    flex-direction: column;
}

label {
    font-size: 13px;
    color:rgb(61, 61, 61);
    align-items: flex-start;
}

input, select, textarea {
    justify-content: center;
    outline: none;
    border: none;
    margin: 0.5em 2em;
    border-radius: 2px;
    font-family: Exo, 'sans serif';
}

.priority-container {
    display: flex;
    height: 100%;
    width: 50%;
    transition: all 0.1s ;
}

.priority-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.priority-input:active {
    transform: scale(0.9);
}

.priority-input:checked {
    transform: scale(1.2);
    border: 2px solid #fff;
}

.baja {
    background-color:rgb(94, 197, 94);
}

.media {
    background-color: rgb(247, 164, 10);
}

.alta {
    background-color: rgb(253, 0, 0);
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
}

button {
    margin-top: .925em; /*refactor*/
    margin-left: 0.725em; /*refactor*/
    padding: 0.725em;
    border: none;
    border-radius: 2px;
    font-family: Exo, 'sans serif';
    font-weight: 500;
    cursor: pointer;
}

.close {
    position: relative;
    right: -360px;
    top: -60px;
    /* display: flex;
    align-items: flex-end;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start; */
    
}

.cancel-btn {
    background-color: rgb(248, 64, 64);
}

.add-btn {
    background-color: rgb(62, 68, 225);
}

/*               TASKS LIST           */

.tasks-container {  
    display: none;
    flex-direction: column;
    margin: 20px;
}

.tasks-container h3 {
    background-color: blueviolet;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 35px;
    margin: 0;
}

.tasks-list {
    margin: 0;
    list-style: none;
    font-size: 13px;
}

/*       TASK CARD        */

.tasks-list li {
    background: #eee;
    padding: 5px;
    border-bottom: 0.5px solid gray;
    margin-left: -40px;
    display: flex;
    *flex-direction: column;
    border: 1px solid red;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

.taskTitle {
    padding: 10px;
}

.taskDescription {
    display: flex;
    align-items: center;
}

.selectedIcon {
    display: flex;
    align-self: center;
    padding-left: 10px;
    width: 40px;
    height: 40px;
}

.priority-container {
    display: flex;
    align-self: center;
    padding-left: 10px;
    width: 40px;
    height: 40px;
}

/*    TASK STATE     */

/*finished*/
.finished {
    text-decoration: line-through;
}

/*to delete*/
.delete {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*SHOW AND HIDE CLASSES*/
.hidden {
    display: none;
}

.active {
    display: flex;
}